<link href="/styles/blog/clean-blog.min.css" rel="stylesheet">
<link href='http://fonts.googleapis.com/css?family=Lora:400,700,400italic,700italic' rel='stylesheet' type='text/css'>
<link href='http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800' rel='stylesheet' type='text/css'>



<nav class="navbar navbar-default navbar-custom navbar-fixed-top">
        <div class="container-fluid">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header page-scroll">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="/blog">Kampoengboy's Blog</a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-right">
                    <li>
                        <a href="/blog">Home</a>
                    </li>
                    <li>
                        <a href="/blog/about">About</a>
                    </li>
                    <li>
                        <a href="/#contact">Contact</a>
                    </li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container -->
    </nav>

    <!-- Page Header -->
    <!-- Set your background image for this header on the line below. -->
    <header class="intro-header" style="background-image: url('/img/algoritma.jpg')">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                    <div class="post-heading">
                        <h1>Apa itu Algoritma ?</h1>
                        <h2 class="subheading">Penjelasan mengenai algoritma</h2>
                        <span class="meta">Postingan pada 10 Februari 2015</span>
                    </div>
                </div>
            </div>
        </div>
    </header>

    <!-- Post Content -->
    <article>
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1" style="text-align : justify">
                    <p>Dalam matematika dan komputasi, algoritma merupakan kumpulan perintah untuk menyelesaikan suatu masalah. Perintah-perintah ini dapat diterjemahkan secara bertahap dari awal hingga akhir. Masalah tersebut dapat berupa apa saja, dengan catatan untuk setiap masalah, ada kriteria kondisi awal yang harus dipenuhi sebelum menjalankan algoritma. Algoritma akan dapat selalu berakhir untuk semua kondisi awal yang memenuhi kriteria, dalam hal ini berbeda dengan heuristik. Algoritma sering mempunyai langkah pengulangan (iterasi) atau memerlukan keputusan (logika Boolean dan perbandingan) sampai tugasnya selesai.</p>

                    <p>Kata algoritma berasal dari latinisasi nama seorang ahli matematika dari Uzbekistan Al Khawārizmi (hidup sekitar abad ke-9), sebagaimana tercantum pada terjemahan karyanya dalam bahasa latin dari abad ke-12 "Algorithmi de numero Indorum". Pada awalnya kata algorisma adalah istilah yang merujuk kepada aturan-aturan aritmetis untuk menyelesaikan persoalan dengan menggunakan bilangan numerik arab (sebenarnya dari India). Pada abad ke-18, istilah ini berkembang menjadi algoritma, yang mencakup semua prosedur atau urutan langkah yang jelas dan diperlukan untuk menyelesaikan suatu permasalahan. Masalah timbul pada saat akan menuangkan bagaimana proses yang harus dilalui dalam suatu/sebuah sistem (program) bagi komputer sehingga pada saat eksekusinya, komputer dapat bekerja seperti yang diharapkan. Programer komputer akan lebih nyaman menuangkan prosedur komputasinya atau urutan langkah proses dengan terlebih dahulu membuat gambaran (flowchart) diatas kertas.</p>

                    <p>Sebenarnya di kehidupan nyata pun, kita sudah melakukan terapan-terapan algoritma di dalam otak kita. Cuman kita nya yang tidak menyadari. Seperti contoh : Ketika kita ingin mencari nama yang akan kita hubungi di buku telepon atau ketika kita ingin mengurutkan nomor struk, bon, surat sehingga memudahkan kita untuk dikaji ulang, dll. Nah, di dalam pemrograman, algoritma ini sungguh berguna di dalam penyelesaian masalah(problem solving), apalagi kalau kalian adalah anak IT. Tentu saja memahami algoritma itu beragam, ada yang bilang mudah banget, ada yang bilang sulit, pusing,dll. Tentu saja yang mengatakan mudah banget, dia pasti sudah mahir dan berpengalaman di bidang tersebut. Nah, untuk yang sulit, pusing? Sebenarnya tidak ada yang sulit dalam memahami algoritma. Yang ada hanyalah minat dan komitmen. Kalau kalian memang tidak mempunyai minat di dalam algoritma, of course you won't understand it. But, that's life. Jikalau kalian memang berminat di bidang tertentu, misalnya bukan di algoritma melainkan di software development, fokuskanlah minat kalian kesana. Tetapi ingat, yang lain pun tidak boleh ditinggalkan. Sekedar tahu dasar-dasarnya itu pun harus juga. Sehingga ketika kalian diperhadapkan dengan masalah yang diluar dari minat kalian, kalian mungkin bisa menggunakan pengetahuan dasar tersebut untuk menyelesaikan masalah tersebut. Seperti seorang coder tentu saja harus tahu dasar-dasar Hardware,istilah-istilahnya juga, jadi ketika terjadi sesuatu katakanlah si coder mau beli kabel VGA, kalau yang tidak mengerti pasti bilangnya gini "Mas, mau beli colokan ke monitor dari CPU.". Yang seharusnya kalau kita tahu pasti kita langsung bilang mau beli kabel VGA. Kan malu dong, masa kita anak IT, VGA aja tidak tahu. So, keep focusing in what to be your career and your future, but don't leave the others. Everything must be known.</p>
                </div>
            </div>
        </div>
    </article>

    <hr>
    <div id="disqus_thread" class="container"></div>
    <script type="text/javascript">
        /* * * CONFIGURATION VARIABLES * * */
        var disqus_shortname = 'michaellim';
        
        /* * * DON'T EDIT BELOW THIS LINE * * */
        (function() {
            var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
            dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
            (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
        })();
    </script>
    <noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript" rel="nofollow">comments powered by Disqus.</a></noscript>
    <hr>

<!-- Footer -->
    <footer>
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                    <ul class="list-inline text-center">
                        <li>
                            <a href="https://twitter.com/mike_kolexia">
                                <span class="fa-stack fa-lg">
                                    <i class="fa fa-circle fa-stack-2x"></i>
                                    <i class="fa fa-twitter fa-stack-1x fa-inverse"></i>
                                </span>
                            </a>
                        </li>
                        <li>
                            <a href="https://facebook.com/kampoengboy">
                                <span class="fa-stack fa-lg">
                                    <i class="fa fa-circle fa-stack-2x"></i>
                                    <i class="fa fa-facebook fa-stack-1x fa-inverse"></i>
                                </span>
                            </a>
                        </li>
                        <li>
                            <a href="https://github.com/kampoengboy">
                                <span class="fa-stack fa-lg">
                                    <i class="fa fa-circle fa-stack-2x"></i>
                                    <i class="fa fa-github fa-stack-1x fa-inverse"></i>
                                </span>
                            </a>
                        </li>
                        <li>
                            <a href="https://instagram.com/mike.kazama">
                                <span class="fa-stack fa-lg">
                                    <i class="fa fa-circle fa-stack-2x"></i>
                                    <i class="fa fa-instagram fa-stack-1x fa-inverse"></i>
                                </span>
                            </a>
                        </li>
                    </ul>
                    <p class="copyright text-muted" style="color:black;">Copyright &copy; Michael Lim 2015</p>
                </div>
            </div>
        </div>
    </footer>
<script src="/js/jquery.min.js"></script>
<script src="/js/bootstrap.min.js"></script>
<script src="/js/clean-blog.min.js"></script>