<link href="/styles/blog/clean-blog.min.css" rel="stylesheet">
<link href='http://fonts.googleapis.com/css?family=Lora:400,700,400italic,700italic' rel='stylesheet' type='text/css'>
<link href='http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800' rel='stylesheet' type='text/css'>



<nav class="navbar navbar-default navbar-custom navbar-fixed-top">
        <div class="container-fluid">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header page-scroll">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="/blog">Kampoengboy's Blog</a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-right">
                    <li>
                        <a href="/blog">Home</a>
                    </li>
                    <li>
                        <a href="/blog/about">About</a>
                    </li>
                    <li>
                        <a href="/#contact">Contact</a>
                    </li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container -->
    </nav>

    <!-- Page Header -->
    <!-- Set your background image for this header on the line below. -->
    <header class="intro-header" style="background-image: url('/img/community.jpg')">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                    <div class="post-heading">
                        <h1>Kolexia meluncurkan fitur Komunitas</h1>
                        <h2 class="subheading">Cerita mengenai bagaimana Kolexia meluncurkan fitur Komunitas</h2>
                        <span class="meta">Postingan pada 26 Mei 2015</span>
                    </div>
                </div>
            </div>
        </div>
    </header>

    <!-- Post Content -->
    <article>
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1" style="text-align : justify">
                    <p>Hai, semua. Setelah lama tidak menulis blog lantaran saya sedang ada urusan terutama urusan saya dengan Startup saya yaitu Kolexia, maka sekarang saya akan memberitahukan suatu berita yakni Startup saya yaitu Kolexia, sudah meluncurkan fitur Komunitas. Di balik peluncuran fitur ini, terdapat suatu cerita yang membuat kami akhirnya bisa meluncurkan fitur ini. Saya pun akan menceritakannya.</p>
                    <b>Perjalanan Indigo Incubator 2015</b>
                    <p>Dimulai dari awal bulan April 2015, tepatnya diadakan acara <a href="http://www.indigoincubator.com">Indigo Incubator 2015</a>, dan saya bersama tim Kolexia pun mengikuti acara ini. <a href="http://www.indigoincubator.com">Indigo Incubator</a> ini adalah sebuah event tahunan bagi startup-startup Indonesia yang kepingin mendapatkan mentorship dan funding dari Telkomsel. Event ini juga disponsori oleh Telkomsel dan bagi mereka yang lolos ke tahap inkubasi maka startup tersebut akan diberikan funding sebesar Rp. 250.000.000,-. Tahun ini Indigo Incubator mengadakan event ini dengan nuansa yang beda, yakni adanya sesi Pra-Inkubasi yang harus dilalui oleh para startup lain sebelum mereka diterima oleh Indigo Incubator ini sendiri. Pra-Inkubasi adalah sebuah sesi dimana kita diberikan beberapa tantangan untuk melakukan validasi terhadap startup kita dengan metode Lean Startup. Challenge ini sendiri terdiri dari 4 Challenge yang harus diselesaikan para startup selama 1 bulan penuh. Kami pun menyelesaikan Challenge ini dan mengumpulkannya tepat sebelum Deadline yakni pada tanggal 05-05-2015, walaupun agak tersendat-sendat lantaran kami juga harus menghadapi Tugas dan Ujian Tengah Semester dari Kampus kami.</p>
                    <img src="/img/photo1.jpeg" class="img img-responsive">
                    <p style="font-size:16px">Foto bersama para peserta lainnya dari Medan beserta Mentor Indigo Incubator 2015 di DiLo Medan</p>
                    <img src="/img/photo2.jpeg" class="img img-responsive">
                    <p style="font-size:16px">Situasi saat semua peserta dari Medan mengerjakan challenge dari Indigo Incubator di DiLo Medan</p>
                    <img src="/img/team.jpeg" class="img img-responsive">
                    <p style="font-size:16px">Foto saya bersama tim sedang berada di DiLo Medan, tempat diadakannya BootCamp Indigo Incubator 2015. Dari kiri ke kanan : Septian Rahman, Saya, Jimmy Tanu Wijaya</p>
                    <b>Pembuatan Fitur Komunitas</b>
                    <p>Namun dari semuanya itu, ada hal yang mungkin kami sesali. Karena sebelum deadline, Laporan dari Challenge Indigo Incubator kami seperti menunjukkan bahwa startup kami ini tidak mendapat dukungan dari siapapun. Mungkin karena design, atau yang lain. Sehingga ini menyebabkan kami tidak lolos untuk ke tahap inkubasi selanjutnya. Namun setelah deadline, tepatnya pada tanggal 06-05-2015, terdapat secercah harapan karena ternyata ada 1 komunitas besar yang mendukung kami yakni Komunitas <a href="https://www.facebook.com/groups/shfindo">SH.Figuarts Indonesia</a>, sebuah komunitas yang terdiri dari orang-orang Indonesia yang gemar mengoleksi figur-figur Super Hero. Member dari komunitas itu sendiri berjumlah 5004 member (pada tanggal penulisan blog ini). Kami mungkin agak kesal karena mungkin jika komunitas ini mendukung kami pada saat sebelum deadline, bisa saja Indigo Incubator menerima kami. Tetapi kemudian kami sadar bahwa kami tidak harus sukses karena Inkubator. Dikarenakan banyak startup lain juga yang sukses tanpa melalui tahap Inkubasi, contoh nya adalah <a href="http://www.tokopedia.com">Tokopedia</a>. Dengan langkah yang semakin matang, kami pun mendapatkan job dari Admin Komunitas itu untuk menyelesaikan fitur Komunitas. Dan akhirnya pada tanggal 19 Mei 2015, kami pun meluncurkan fitur Komunitas kami dan sampai tanggal penulisan blog ini sudah ada 4 komunitas yang masuk ke dalam Kolexia yakni <a href="http://beta.kolexia.com/groups/Kolexia">Kolexia(kami sendiri)</a>, <a href="http://beta.kolexia.com/groups/Saint.Cloth.Myth.Indonesia">Saint Cloth Myth Indonesia</a>, <a href="http://beta.kolexia.com/groups/Hentos">Hentos</a> dan <a href="http://beta.kolexia.com/groups/MEDAN.SKY.GUNDAM.COMMUNITY">Medan Sky Gundam Community</a>. Pengguna kami pun bertambah dari 12 pengguna menjadi 22 pengguna. Kami pun berterima kasih kepada <a href="https://www.facebook.com/groups/shfindo">SH.Figuarts Indonesia</a> yang sudah mendukung dan mempercayakan kami sehingga sekarang kami bisa seperti ini.</p>
                    <b>Launching Kolexia</b>
                    <p>Dengan dukungan yang sudah kami dapatkan, kami pun sudah menetapkan kapan untuk meluncurkan Kolexia ini. Tetapi tanggalnya masih kami rahasiakan. Jadi bagi kalian yang ingin menciptakan komunitas kalian sendiri, terutama komunitas-komunitas yang berhubungan dengan barang-barang koleksi, langsung saja daftar di <a href="http://beta.kolexia.com">beta.kolexia.com</a>. Setelah produk kami launching, kalian akan langsung kami kabari. Terima kasih.</p>
                </div>
            </div>
        </div>
    </article>

    <hr>
    <div id="disqus_thread" class="container"></div>
    <script type="text/javascript">
        /* * * CONFIGURATION VARIABLES * * */
        var disqus_shortname = 'michaellim';
        
        /* * * DON'T EDIT BELOW THIS LINE * * */
        (function() {
            var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
            dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
            (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
        })();
    </script>
    <noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript" rel="nofollow">comments powered by Disqus.</a></noscript>
    <hr>

<!-- Footer -->
    <footer>
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                    <ul class="list-inline text-center">
                        <li>
                            <a href="https://twitter.com/mike_kolexia">
                                <span class="fa-stack fa-lg">
                                    <i class="fa fa-circle fa-stack-2x"></i>
                                    <i class="fa fa-twitter fa-stack-1x fa-inverse"></i>
                                </span>
                            </a>
                        </li>
                        <li>
                            <a href="https://facebook.com/kampoengboy">
                                <span class="fa-stack fa-lg">
                                    <i class="fa fa-circle fa-stack-2x"></i>
                                    <i class="fa fa-facebook fa-stack-1x fa-inverse"></i>
                                </span>
                            </a>
                        </li>
                        <li>
                            <a href="https://github.com/kampoengboy">
                                <span class="fa-stack fa-lg">
                                    <i class="fa fa-circle fa-stack-2x"></i>
                                    <i class="fa fa-github fa-stack-1x fa-inverse"></i>
                                </span>
                            </a>
                        </li>
                        <li>
                            <a href="https://instagram.com/mike.kazama">
                                <span class="fa-stack fa-lg">
                                    <i class="fa fa-circle fa-stack-2x"></i>
                                    <i class="fa fa-instagram fa-stack-1x fa-inverse"></i>
                                </span>
                            </a>
                        </li>
                    </ul>
                    <p class="copyright text-muted" style="color:black;">Copyright &copy; Michael Lim 2015</p>
                </div>
            </div>
        </div>
    </footer>
<script src="/js/jquery.min.js"></script>
<script src="/js/bootstrap.min.js"></script>
<script src="/js/clean-blog.min.js"></script>