<link href="/styles/blog/clean-blog.min.css" rel="stylesheet">
<link href='http://fonts.googleapis.com/css?family=Lora:400,700,400italic,700italic' rel='stylesheet' type='text/css'>
<link href='http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800' rel='stylesheet' type='text/css'>



<nav class="navbar navbar-default navbar-custom navbar-fixed-top">
        <div class="container-fluid">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header page-scroll">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="index.html">Kampoengboy's Blog</a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-right">
                    <li>
                        <a href="/blog">Home</a>
                    </li>
                    <li>
                        <a href="/blog/about">About</a>
                    </li>
                    <li>
                        <a href="/#contact">Contact</a>
                    </li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container -->
    </nav>

    <!-- Page Header -->
    <!-- Set your background image for this header on the line below. -->
    <header class="intro-header" style="background-image: url('/img/html.jpg')">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                    <div class="post-heading" style="color:yellow;">
                        <h1>Mengenal Bahasa HTML,CSS, Javascript</h1>
                        <h2 class="subheading">Penjelasan mengenai HTML, CSS dan Javascript</h2>
                        <span class="meta">Postingan pada 23 Februari 2015</span>
                    </div>
                </div>
            </div>
        </div>
    </header>

    <!-- Post Content -->
    <article>
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1" style="text-align : justify">
                    <b>Mengenal Web</b>
                    <p>Web Site disebut juga site, situs, situs web, atau portal. Secara makna sebuah website adalah sekumpulan halaman informasi yang disediakan melalui jalur internet sehingga bisa diakses di seluruh dunia selama terkoneksi dengan jaringan internet tanpa terbatas ruang dan waktu.
Website merupakan sebuah komponen yang terdiri dari teks, gambar, suara animasi sehingga menjadi media informasi yang menarik untuk dikunjungi oleh orang lain. 

Sebuah website adalah representasi virtual anda atau bisnis anda yang berada di internet. Dengan perkembangan teknologi yang semakin cepat, semua orang menginginkan informasi dapat tersaji dengan cepat dan akurat. Tanpa melihat seberapa besar bisnis anda,  apapun bisnis anda, sungguh disayangkan jika tidak memiliki website yang mana hampir semua calon konsumen menggunakan fasilitas ini untuk memenuhi kebutuhannya akan informasi produk-produk yang pasarkan.<br><br> Untuk membangun sebuah web, perlu digunakan suatu bahasa yang digunakan untuk membuat web yaitu HTML.</p>
                    
                    <b>Mengenal HTML</b>
                    <p>Hyper Text Markup Language (HTML) adalah sebuah bahasa markah yang digunakan untuk membuat sebuah halaman web, menampilkan berbagai informasi di dalam sebuah penjelajah web Internet dan pemformatan hiperteks sederhana yang ditulis dalam berkas format ASCII agar dapat menghasilkan tampilan wujud yang terintegerasi. Dengan kata lain, berkas yang dibuat dalam perangkat lunak pengolah kata dan disimpan dalam format ASCII normal sehingga menjadi halaman web dengan perintah-perintah HTML. Bermula dari sebuah bahasa yang sebelumnya banyak digunakan di dunia penerbitan dan percetakan yang disebut dengan SGML (Standard Generalized Markup Language), HTML adalah sebuah standar yang digunakan secara luas untuk menampilkan halaman web. HTML saat ini merupakan standar Internet yang didefinisikan dan dikendalikan penggunaannya oleh World Wide Web Consortium (W3C). HTML dibuat oleh kolaborasi Caillau TIM dengan Berners-lee Robert ketika mereka bekerja di CERN pada tahun 1989 (CERN adalah lembaga penelitian fisika energi tinggi di Jenewa).</p>

                   <b>Contoh Penggunaan HTML</b>
                    <div class="well well-lg">
                    <code>
                    &lt;html&gt;
                    <br>
                    &lt;head&gt;
                    &lt;/head&gt;
                    <br>
                    &lt;body&gt;
                    <br>
                    &nbsp;&nbsp;&lt;p&gt; Hello World! &lt;/p&gt;
                    <br>
                    &lt;/body&gt;
                    <br>
                    &lt;/html&gt;
                    </code>
                    </div>

                    <b>Mengenal CSS</b>
                    <p>Cascading Style Sheet (CSS) merupakan aturan untuk mengendalikan beberapa komponen dalam sebuah web sehingga akan lebih terstruktur dan seragam. CSS bukan merupakan bahasa pemograman.

Sama halnya styles dalam aplikasi pengolahan kata seperti Microsoft Word yang dapat mengatur beberapa style, misalnya heading, subbab, bodytext, footer, images, dan style lainnya untuk dapat digunakan bersama-sama dalam beberapa berkas (file). Pada umumnya CSS dipakai untuk memformat tampilan halaman web yang dibuat dengan bahasa HTML dan XHTML.

CSS dapat mengendalikan ukuran gambar, warna bagian tubuh pada teks, warna tabel, ukuran border, warna border, warna hyperlink, warna mouse over, spasi antar paragraf, spasi antar teks, margin kiri, kanan, atas, bawah, dan parameter lainnya. CSS adalah bahasa style sheet yang digunakan untuk mengatur tampilan dokumen. Dengan adanya CSS memungkinkan kita untuk menampilkan halaman yang sama dengan format yang berbeda.</p>

                   <b>Contoh Penggunaan CSS</b>
                    <div class="well well-lg">
                    <code>
                    &lt;html&gt;
                    <br>
                    &lt;head&gt;
                    <br>
                    &nbsp;&nbsp;&lt;style&gt;
                    <br>
                    &nbsp;&nbsp;&nbsp;&nbsp; p {
                    <br>
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;color:red;
                    <br>
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;}
                    <br>
                    &nbsp;&nbsp;&lt;/style&gt;
                    <br>
                    &lt;/head&gt;
                    <br>
                    &lt;body&gt;
                    <br>
                    &nbsp;&nbsp;&lt;p&gt; Hello World! &lt;/p&gt;
                    <br>
                    &lt;/body&gt;
                    <br>
                    &lt;/html&gt;
                    </code>
                    </div>

                    <b>Mengenal Javascript</b>
                    <p>JavaScript adalah bahasa yang digunakan untuk membuat program yang digunakan agar dokumen HTML yang ditampilkan dalam browser menjadi lebih interaktif, tidak sekedar indah saja. JavaScript memberikan beberapa fungsionalitas ke dalam halaman web, sehingga dapat menjadi sebuah program yang disajikan dengan menggunakan antarmuka web.
                    <br><br>
JavaScript merupakan bahasa script, bahasa yang tidak memerlukan kompiler untuk menjalankannya, cukup dengan interpreter. Tidak perlu ada proses kompilasi terlebih dahulu agar program dapat dijalankan. Browser web Netscape Navigator dan Internet Explorer adalah salah satu contoh interpreter, karena kedua browser ini telah dilengkapi dengan interpreter JavaScript. Tetapi tidak semua browser web dapat menjadi interpreter JavaScript karena belum tentu browser tersebut dilengkapi dengan interpreter JavaScript.
<br><br>
JavaScript adalah bahasa script yang ringan dan mudah digunakan. Dengan adanya JavaScript ini, maka kini halaman web tidak sekedar menjadi halaman data dan informasi daja, tetapi juga dapat menjadi suatu program aplikasi dengan antarmuka web.
<br><br>
JavaScript merupakan bahasa pemrograman yang tidak membutuhkan lisensi untuk dapat menggunakannya. jika browser web yang kita gunakan mendukung (memiliki) JavaScript maka kita dapat langsung membuat aplikasi berbasis web dengan menggunakan JavaScript.
<br><br>
Umumnya program JavaScript adalah program yang ditanamkan (disisipkan) ke dalam halaman web, sehingga halaman (dokumen) web menjadi sebuah aplikasi yang berjalan di dalam browser web. Beberapa sistem operasi menggunakan JavaScript untuk membuat aplikasi non-web, seperti sistem operasi MS Windows, yang menggunakan istilah Windows Scripting Host (WSH) sebagai interpreter JavaScript dan VBscript, sehingga program yang dibuat dengan JavaScript dan VBScript dapat langsung dijalankan di atas sistem operasi, tanpa harus menggunakan browser web terlebih dahulu.</p>

                   <b>Contoh Penggunaan Javascript</b>
                    <div class="well well-lg">
                    <code>
                    &lt;html&gt;
                    <br>
                    &lt;head&gt;
                    <br>
                    &nbsp;&nbsp;&lt;style&gt;
                    <br>
                    &nbsp;&nbsp;&nbsp;&nbsp; p {
                    <br>
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;color:red;
                    <br>
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;}
                    <br>
                    &nbsp;&nbsp;&lt;/style&gt;
                    <br>
                    &lt;/head&gt;
                    <br>
                    &lt;body&gt;
                    <br>
                    &nbsp;&nbsp;&lt;p&gt; Hello World! &lt;/p&gt;
                    <br>
                    &nbsp;&nbsp;&lt;button onClick="myFunction()"&gt; Hello World! &lt;/button&gt;
                    <br>
                    &lt;/body&gt;
                    <br>
                    &lt;script&gt;
                    <br>
                    &nbsp;&nbsp;function myFunction()
                    <br> 
                    &nbsp;&nbsp;{
                    <br>
                    &nbsp;&nbsp;&nbsp;&nbsp;alert("Halo, ini namanya button");
                    <br>
                    &nbsp;&nbsp;}
                    <br>
                    &lt;/script&gt;
                    <br>
                    &lt;/html&gt;
                    </code>
                    </div>
                    </div>
                    </div>

            </div>
        </div>
    </article>
    <hr>

<!-- Footer -->
    <footer>
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                    <ul class="list-inline text-center">
                        <li>
                            <a href="https://twitter.com/mike_kolexia">
                                <span class="fa-stack fa-lg">
                                    <i class="fa fa-circle fa-stack-2x"></i>
                                    <i class="fa fa-twitter fa-stack-1x fa-inverse"></i>
                                </span>
                            </a>
                        </li>
                        <li>
                            <a href="https://facebook.com/kampoengboy">
                                <span class="fa-stack fa-lg">
                                    <i class="fa fa-circle fa-stack-2x"></i>
                                    <i class="fa fa-facebook fa-stack-1x fa-inverse"></i>
                                </span>
                            </a>
                        </li>
                        <li>
                            <a href="https://github.com/kampoengboy">
                                <span class="fa-stack fa-lg">
                                    <i class="fa fa-circle fa-stack-2x"></i>
                                    <i class="fa fa-github fa-stack-1x fa-inverse"></i>
                                </span>
                            </a>
                        </li>
                        <li>
                            <a href="https://instagram.com/mike.kazama">
                                <span class="fa-stack fa-lg">
                                    <i class="fa fa-circle fa-stack-2x"></i>
                                    <i class="fa fa-instagram fa-stack-1x fa-inverse"></i>
                                </span>
                            </a>
                        </li>
                    </ul>
                    <p class="copyright text-muted" style="color:black;">Copyright &copy; Michael Lim 2015</p>
                </div>
            </div>
        </div>
    </footer>
<script src="/js/jquery.min.js"></script>
<script src="/js/bootstrap.min.js"></script>
<script src="/js/clean-blog.min.js"></script>