<link href="/styles/blog/clean-blog.min.css" rel="stylesheet">
<link href='http://fonts.googleapis.com/css?family=Lora:400,700,400italic,700italic' rel='stylesheet' type='text/css'>
<link href='http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800' rel='stylesheet' type='text/css'>



<nav class="navbar navbar-default navbar-custom navbar-fixed-top">
        <div class="container-fluid">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header page-scroll">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="/blog">Kampoengboy's Blog</a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-right">
                    <li>
                        <a href="/blog">Home</a>
                    </li>
                    <li>
                        <a href="/blog/about">About</a>
                    </li>
                    <li>
                        <a href="/#contact">Contact</a>
                    </li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container -->
    </nav>

    <!-- Page Header -->
    <!-- Set your background image for this header on the line below. -->
    <header class="intro-header" style="background-image: url('/img/sailsjs.jpg')">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                    <div class="post-heading">
                        <h1>Pengenalan tentang SailsJS</h1>
                        <h2 class="subheading">Pembelajaran mengenai apa itu SailsJS dan bagaimana implementasinya</h2>
                        <span class="meta">Postingan pada 12 Maret 2015</span>
                    </div>
                </div>
            </div>
        </div>
    </header>

    <!-- Post Content -->
    <article>
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1" style="text-align : justify">
                    <b>Front-End & Back-End Programming</b>
                    <p>Mungkin ada yang masih bingung, tentang 2 istilah ini, Front-End dan Back-End. Front-End adalah bagian yang berhubungan dengan interaksi dari suatu aplikasi ke pengguna atau istilah kerennya adalah User Interface. Biasanya Front-End adalah berupa desain-desain antarmuka. Back-End adalah bagian yang berhubungan dengan apa yang terjadi di balik layar setelah user/pengguna melakukan sesuatu terhadap desain tersebut (biasanya berhubungan dengan Logic Programming, Query Database, Algoritma, dll). Contoh paling sederhana yang membedakan Front-End dan Back-End adalah sebuah mesin cuci. Desain dan tombol-tombol dari mesin cuci itu adalah Front-End sedangkan proses yang terjadi setelah kita menekan tombol dari mesin cuci itulah yang disebut Back-End.</p>
                    <p>Di Indonesia, Front-End dan Back-End sering disamakan. Dikarenakan di Indonesia, kebanyakan orang khususnya orang awam menganggap bahwa seorang Programmer itu sudah menyatu terhadap 2 hal ini. Namun itu adalah persepsi yang salah. <b>Front-End Programmer dan Back-End Programmer itu beda.</b> Ada seorang programmer yang bisa dalam hal desain antarmuka namun dia tidak menguasai Back-End, ada juga yang sebaliknya, dan ada juga yang bisa kedua-duanya.</p>
                    <p>Ada banyak sekali pembelajaran mengenai Front-End dan Back-End. Sebut saja untuk Front-End terdapat : <a href="http://facebook.github.io/react/">ReactJS</a>, <a href="https://angularjs.org/">AngularJS</a>, dll. Sedangkan untuk Back-End adalah <a href="http://cakephp.org/">CakePHP</a>, <a href="http://www.codeigniter.com">CodeIgniter</a>, <a href="http://sailsjs.org">SailsJS</a>, dll. Dikarenakan banyaknya pembelajaran mengenai Front-End dan Back-End, maka sekarang kita akan membahas tentang suatu <b>Framework</b> yang saya gunakan untuk membangun segala jenis aplikasi web / project web saya (termasuk blog ini) yaitu <b>SailsJS</b></p>
                    <b>SailsJS</b>
                    <p>
                    <ul>
                        <li>Apa itu SailsJS?</li>
                        <p>SailsJS adalah suatu Framework MVC Pattern yang dirancang oleh seorang Developer bernama <a href="https://twitter.com/mikermcneil">Mike McNeil</a>. SailsJS juga adalah framework yang dirancang dengan landasan <a href="http://nodejs.org">NodeJS</a>. SailsJS juga sangat gampang diimplementasikan bagi anda yang sudah familiar dengan yang namanya bahasa pemrograman <b>JavaScript</b> dikarenakan ia adalah framework yang menggunakan 100% pure JavaScript. Saat ini, SailsJS sedang berada pada versi 0.11 dan SailsJS adalah framework yang sedang dalam masa-masa HOT TOPIC dikarenakan framework ini masih dalam kategori baru. Anda juga dapat melihat informasinya melalui situs <a href="http://sailsjs.org">www.sailsjs.org</a>.</p>
                        <li>MVC</li>
                        <p>MVC adalah suatu istilah baku yang harus dimengerti untuk membuat suatu aplikasi dan ini digunakan di hampir semua framework. M (Model) adalah suatu istilah yang menggambarkan data-data kita atau DataBase kita. V (Views) adalah suatu istilah yang menggambarkan desain antarmuka dari suatu aplikasi (Front-End). C (Controller) adalah suatu istilah yang merupakan penghubung antara Model dan View (Logic Programming, Algoritma, Query, dll).</p>
                    </ul>
                    </p>
                    <p>Lebih jelasnya mengenai SailsJS, saya sudah menyediakan link di bawah untuk mendownload pembelajaran berupa slide yang saya buat sendiri dalam event BaseCamp dan Hackathon yang diselenggarakan oleh organisasi saya yaitu <a href="http://facebook.com/mikroskilprogrammingclub">Mikroskil Programming Club (MPC)</a>. Saya juga menyertakan contoh aplikasi sederhana yang sudah jadi dari pembelajaran tersebut.
                     <div class="col-lg-8 col-lg-offset-2 text-center">
                            <a href="https://www.dropbox.com/sh/39g3gsaoj3w3vxq/AADl-vwUC9uQkN9EyjOVsMXNa?dl=0" class="btn btn-success btn-outline">
                                <i class="fa fa-download"></i> Download
                            </a>
                    </div>
                    </p>
                </div>
            </div>
        </div>
    </article>

    <hr>
    <div id="disqus_thread" class="container"></div>
    <script type="text/javascript">
        /* * * CONFIGURATION VARIABLES * * */
        var disqus_shortname = 'michaellim';
        
        /* * * DON'T EDIT BELOW THIS LINE * * */
        (function() {
            var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
            dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
            (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
        })();
    </script>
    <noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript" rel="nofollow">comments powered by Disqus.</a></noscript>
    <hr>

<!-- Footer -->
    <footer>
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                    <ul class="list-inline text-center">
                        <li>
                            <a href="https://twitter.com/mike_kolexia">
                                <span class="fa-stack fa-lg">
                                    <i class="fa fa-circle fa-stack-2x"></i>
                                    <i class="fa fa-twitter fa-stack-1x fa-inverse"></i>
                                </span>
                            </a>
                        </li>
                        <li>
                            <a href="https://facebook.com/kampoengboy">
                                <span class="fa-stack fa-lg">
                                    <i class="fa fa-circle fa-stack-2x"></i>
                                    <i class="fa fa-facebook fa-stack-1x fa-inverse"></i>
                                </span>
                            </a>
                        </li>
                        <li>
                            <a href="https://github.com/kampoengboy">
                                <span class="fa-stack fa-lg">
                                    <i class="fa fa-circle fa-stack-2x"></i>
                                    <i class="fa fa-github fa-stack-1x fa-inverse"></i>
                                </span>
                            </a>
                        </li>
                        <li>
                            <a href="https://instagram.com/mike.kazama">
                                <span class="fa-stack fa-lg">
                                    <i class="fa fa-circle fa-stack-2x"></i>
                                    <i class="fa fa-instagram fa-stack-1x fa-inverse"></i>
                                </span>
                            </a>
                        </li>
                    </ul>
                    <p class="copyright text-muted" style="color:black;">Copyright &copy; Michael Lim 2015</p>
                </div>
            </div>
        </div>
    </footer>
<script src="/js/jquery.min.js"></script>
<script src="/js/bootstrap.min.js"></script>
<script src="/js/clean-blog.min.js"></script>