    <div id="viewport">
        <div class="progress-bar" role="progressbar" aria-valuenow="" aria-valuemin="0" aria-valuemax="100" style="width: 45%; height:30px; background-color:red;" id="gauge"><div style="width:290px; height:35px; border:5px solid black"> </div>
        </div>
       <div class="progress-bar" role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100" style="width: 45%; height:30px; float:right;" id="gauge1"><div style="width:290px; height:35px; border:5px solid black;float:right;"> </div>
      </div>
        <div id="zero"></div>
        <div id = "zero1"></div>
    </div>
    <div>
    <h4>Kontrol untuk menggerakkan karakter : </h4>
    <p>Untuk zero player 1 (bagian kiri dan tidak ada tanda warna biru di tangan) : </p>
    <p>Panah kiri : ke kiri <br> Panah atas : loncat <br> Panah kanan : ke kanan <br> Tombol '/'  : menyerang pemain dengan motor</p>
    <br>
    <p>Untuk zero player 2(bagian kanan dan ada tanda warna biru di tangan) : </p>
    <p>'A': ke kiri <br> 'W' : loncat <br> 'D': ke kanan <br> 'Z'  : menyerang pemain dengan motor</p>
    </div>
    <br>
    <div>
    Copyright &copy; Michael Lim, 2015
    </div>