<link href="/styles/blog/clean-blog.min.css" rel="stylesheet">
<link href='http://fonts.googleapis.com/css?family=Lora:400,700,400italic,700italic' rel='stylesheet' type='text/css'>
<link href='http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800' rel='stylesheet' type='text/css'>
<style type="text/css">
.clock {
    width: 460px;
    position: relative;
    margin:0 auto;
    line-height: 1.4em;
}
@media screen and (max-width: 500px) {

    .header { padding-bottom: 25px; padding: 5px 0; }
    .header .buttons { margin: 50px 0 0; text-align: center; }
    .header h1 { font-size: 54px; }
    .header .version { font-size: 18px; }
    .header .clock { margin: 0 auto; display: block; width: 322px; }
    
    .flip-clock-wrapper ul { height: 100px; line-height: 50px; }
    .flip-clock-wrapper ul li a div.up:after { top: 0px; }
    .flip-clock-divider { margin-top:20px;height: 50px; }
    .flip-clock-dot { height: 6px; width: 6px; left: 7px;}
    .flip-clock-dot.top { top: 17px; }
    .flip-clock-dot.bottom { bottom: 10px; }
    
    
    .header .flip-clock-divider .flip-clock-label { font-size: 20px; }
    .header .flip-clock-divider.hours .flip-clock-label { right: -66px; }
    .header .flip-clock-divider.minutes .flip-clock-label { right: -78px; }
    .header .flip-clock-divider.seconds .flip-clock-label { right: -78px; }
    
    .flip-clock-wrapper ul { width: 45px; }
    .flip-clock-wrapper ul li a div div.inn { font-size: 30px; }
}

</style>
<nav class="navbar navbar-default navbar-custom navbar-fixed-top">
        <div class="container-fluid">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header page-scroll">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="index.html">Kampoengboy's Blog</a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-right">
                    <li>
                        <a href="/blog">Home</a>
                    </li>
                    <li>
                        <a href="/blog/about">About</a>
                    </li>
                    <li>
                        <a href="/#contact">Contact</a>
                    </li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container -->
    </nav>

    <!-- Page Header -->
    <!-- Set your background image for this header on the line below. -->
    <header class="intro-header" style="background-image: url('img/home-bg.jpg')">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                    <div class="site-heading">
                        <h1>Kampoengboy's Blog</h1>
                        <hr class="small">
                        <span class="subheading">A Place Where "Kampoengan" becomes "Geeky and Techie"</span>
                        <br>
                        <p>Waktu Sekarang : </p>
                        <div class="flip-counter clock"></div>
                    </div>
                </div>
            </div>
        </div>
    </header>

    <!-- Main Content -->
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                <div class="post-preview">
                    <a href="/post/mengenal-html-css-javascript">
                        <h2 class="post-title">
                            Mengenal HTML, CSS & Javascript
                        </h2>
                        <h3 class="post-subtitle">
                            Penjelasan mengenai HTML, CSS & Javascript
                        </h3>
                    </a>
                    <p class="post-meta">Postingan pada 23 Februari 2015</p>
                </div> 
                <div class="post-preview">
                    <a href="/post/bahasa-pemrograman-cpp">
                        <h2 class="post-title">
                            Mengenal Bahasa Pemrograman C/C++
                        </h2>
                        <h3 class="post-subtitle">
                            Penjelasan mengenai bahasa pemrograman C/C++
                        </h3>
                    </a>
                    <p class="post-meta">Postingan pada 11 Februari 2015</p>
                </div> 
                <div class="post-preview">
                    <a href="/post/apa-itu-algoritma">
                        <h2 class="post-title">
                            Apa itu Algoritma ? 
                        </h2>
                        <h3 class="post-subtitle">
                            Penjelasan mengenai algoritma
                        </h3>
                    </a>
                    <p class="post-meta">Postingan pada 10 Februari 2015</p>
                </div> 
                <hr>
                <div class="post-preview">
                    <a href="/post/basa-basi-tentang-saya">
                        <h2 class="post-title">
                            Basa-basi tentang Saya
                        </h2>
                        <h3 class="post-subtitle">
                            Sedikit basa-basi mengenai saya dan dunia saya
                        </h3>
                    </a>
                    <p class="post-meta">Postingan pada 10 Februari 2015</p>
                </div> 
            </div>
        </div>
    </div>

    <hr>

    <!-- Footer -->
    <footer>
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                    <ul class="list-inline text-center">
                        <li>
                            <a href="https://twitter.com/mike_kolexia">
                                <span class="fa-stack fa-lg">
                                    <i class="fa fa-circle fa-stack-2x"></i>
                                    <i class="fa fa-twitter fa-stack-1x fa-inverse"></i>
                                </span>
                            </a>
                        </li>
                        <li>
                            <a href="https://facebook.com/kampoengboy">
                                <span class="fa-stack fa-lg">
                                    <i class="fa fa-circle fa-stack-2x"></i>
                                    <i class="fa fa-facebook fa-stack-1x fa-inverse"></i>
                                </span>
                            </a>
                        </li>
                        <li>
                            <a href="https://github.com/kampoengboy">
                                <span class="fa-stack fa-lg">
                                    <i class="fa fa-circle fa-stack-2x"></i>
                                    <i class="fa fa-github fa-stack-1x fa-inverse"></i>
                                </span>
                            </a>
                        </li>
                        <li>
                            <a href="https://instagram.com/mike.kazama">
                                <span class="fa-stack fa-lg">
                                    <i class="fa fa-circle fa-stack-2x"></i>
                                    <i class="fa fa-instagram fa-stack-1x fa-inverse"></i>
                                </span>
                            </a>
                        </li>
                    </ul>
                    <p class="copyright text-muted" style="color:black;">Copyright &copy; Michael Lim 2015</p>
                </div>
            </div>
        </div>
    </footer>
<script src="/js/jquery.min.js"></script>
<script src="/js/bootstrap.min.js"></script>
<script src="/js/clean-blog.min.js"></script>
<script src="/js/app.js"></script>